# Dados brutos
/Dados

# Pontos do jupyter notebook
/.ipynb_checkpoints
/MiniProjects/.ipynb_checkpoints

# Pasta de Machine Learning
/Machine_Learning/Dados             # Dados brutos
/Machine_Learning/ambiente          # Configurações do ambiente
/Machine_Learning/.python-version   # Controle de versão do python
/Machine_Learning/Machine Learinng  # Livro texto