# Diretórios a serem ignorados
__pycache__/                                 # Arquivos compilados do Python
.ipynb_checkpoints/                          # Arquivos temporários do Jupyter Notebook
Machine_Learning/dados/                      # Pasta de dados e arquivos brutos
Machine_Learning/ambiente/                   # Ambiente virtual local